<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.oblivion.annotations">

    <application>
        <provider
            android:name=".OblivionInitProvider"
            android:authorities="${applicationId}.oblivion-init"
            android:exported="false"
            android:initOrder="999" />
    </application>

</manifest>
